/* stylesheet for GOOATLANDSCAPING 
ASSIGNMENT 2
HESHAN PUNCHIHEWA
2022-03-30 */

body{
    background-image:url(photos/steven-weeks-DUPFowqI6oI-unsplash.jpg);
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
}

header{
    display: flex;
    justify-content: center;
    height: 100px;
    background-color: rgba(255, 255, 255, 0.5);
    
    
}

header > img {
    
    max-width: 100%;
    max-height: 100%;
}

h1{
    
    color: black;
    padding: 15px;
    border-radius: 10px;
    font-family: 'Gowun Batang', serif;
}

.customerInfo{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(240, 248, 255, 0.85);
    border-radius: 10px;
    padding:10px;
    margin-top: 40px;
    text-align: right;
    display: flex;
    justify-content: center;
    box-shadow: 1px 5px 20px 2px black;
    
}

.buttons{
    text-align: center;
    margin: 0 auto;
    
}



#showForm{
    
    margin-left: auto;
    margin-right: auto;
}


.customerInfo > *{
    
    font-family: 'Gowun Dodum', sans-serif;
    padding: 10px;
    
}

select > *{
    font-family: 'Gowun Dodum', sans-serif;
    text-align: center;
}

select{
    border: 3px solid green;
}


.output{
    
    display: flex;
    justify-content: center;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    
    
}

.output div{
    
    background-color: rgba(240, 248, 255, 0.85);
    border-radius: 10px;
    margin-top: 20px;
    text-align: right;
    text-align: center;
    padding: 10px;
    font-family: 'Gowun Dodum', sans-serif;
    box-shadow: 1px 5px 20px 2px black;
    margin-left: auto;
    
}

table{
    margin: 0 auto;
}

#showForm, #customerInfo, #orderinfo{
    display: none;
    
    
}

#showForm > table{
    text-align: right;
}

button{
    padding: 3px;
    margin: 5px 5px;
    background-color: rgb(240, 248, 255);
    border-radius: 10px;
    font-family: 'Gowun Dodum', sans-serif;
    
}


button:hover{
    background-color:rgb(83, 172, 255);
    box-shadow: 4px 5px 8px 2px #888888;
}


.output input{
    width: 50px;
}


/* References
background photo: Steven Weeks, https://unsplash.com/photos/DUPFowqI6oI */

/* font-family: 'Gowun Batang', serif;
font-family: 'Gowun Dodum', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Nunito', sans-serif; */