/* stylesheet for GOOATLANDSCAPING 
ASSIGNMENT 2
HESHAN PUNCHIHEWA
2022-03-30 */

body{
    background-image:url(photos/steven-weeks-DUPFowqI6oI-unsplash.jpg);
    /* background-attachment: fixed; */
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
}

header{
    display: flex;
    justify-content: center;
    
}
h1{
    background-color: rgba(0, 0, 0, 0.75);
    color: rgb(130, 214, 127);
    /* background-color: rgba(21, 255, 0, 0.5); */
    padding: 15px;
    border-radius: 10px;
    font-family: 'Gowun Batang', serif;
}

.customerInfo{
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(240, 248, 255, 0.85);
    border-radius: 10px;
    padding:10px;
    margin-top: 40px;
    text-align: right;
    display: flex;
    justify-content: center;
    box-shadow: 1px 5px 20px 2px black;
    
}

.buttons{
    text-align: center;
    margin: 0 auto;
    
}



#showForm{
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}


.customerInfo > *{
    
    font-family: 'Gowun Dodum', sans-serif;
    padding: 10px;
    
}

select > *{
    font-family: 'Gowun Dodum', sans-serif;
    text-align: center;
}

select{
    border: 3px solid green;
}

.wrap-select{
    text-align: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
}

.output{
 
    display: flex;
    justify-content: center;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
   
    
}

.output > div{
    
    background-color: rgba(240, 248, 255, 0.85);
    border-radius: 10px;
    margin-top: 20px;
    text-align: right;
    text-align: center;
    padding: 20px;
    font-family: 'Gowun Dodum', sans-serif;
    box-shadow: 1px 5px 20px 2px black;
    
}

table{
    margin: 0 auto;
}

#showForm{
   display: none;
}

button{
    padding: 3px;
    margin: 5px 5px;
    background-color: rgb(240, 248, 255);
    border-radius: 10px;
    font-family: 'Gowun Dodum', sans-serif;
    box-shadow: 1px 5px 8px 2px #888888;
}
/* References
background photo: Steven Weeks, https://unsplash.com/photos/DUPFowqI6oI */

/* font-family: 'Gowun Batang', serif;
font-family: 'Gowun Dodum', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Nunito', sans-serif; */